* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  color: #dd33ca
}

ul {
  list-style: none;
}

li {
  display: flex;

}

<<<<<<< HEAD
div {
  color: #dd33ca;
=======
span {
  font-weight: 800;
>>>>>>> 9c0ca0f89ce27c9b0e01537c42cb3c0c012d94db
}